#description {
    font-size: 1.3em;
}

img.gamegif {
    width: 80%;
}

.gamediv {
    text-align: center;
}

.games a {
    color: inherit;
}

.gamecontent {
    float: left;
    width: 100%;
}

.padheight {
    margin-top: 100%;
}

footer.page-footer {
    padding-top: 2px;
}
