#description {
    font-size: 1.3em;
}

img.gamegif {
    width: 80%;
}

.gamediv {
    text-align: center;
}

.gamecontent {
    float: left;
    width: 100%;
}

.padheight {
    margin-top: 100%;
}
