#description {
    font-size: 1.3em;
}

img.gamegif {
    width: 80%;
}

img.logo {
    max-width: 100%;
}

main {
    background-color: rgb(32,64,64);
}

.base-colour {
    background-color: #C4C2AF;
}

.highlight-colour {
    background-color: #A19E85;
}

.gamediv {
    text-align: center;
}

.games a {
    color: inherit;
}

.gamecontent {
    float: left;
    width: 100%;
}

.padheight {
    margin-top: 100%;
}

footer.page-footer {
    padding-top: 2px;
}

#map {
    margin-bottom: 5px;
}
